.App {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Londrina Solid", sans-serif;
  font-weight: bold;
  /* font-family: "Rammetto One", cursive; */

  /* font-family: "Wendy One", sans-serif; */

  /* font-family: "Amelia", arial; */

  /* font-family: "Press Start 2P", cursive; */
}
