.App {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  /* font-family: "Londrina Solid", cursive;
  font-weight: bold; */

  font-family: "Shojumaru", cursive;

  /* font-family: "Amelia", arial; */

  /* font-family: "Press Start 2P", cursive; */
}
