.avatars-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "h1 h1 h1 h1"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  background-color: #0086ff;
}

.avatar-image {
  width: 100%;
  height: auto;
  border-radius: 5%;
  border: 2px black solid;
  background-color: #dacdbe;
  cursor: pointer;
}
.avatar-header {
  grid-area: h1;
}

.avatar-image-choosen {
  width: 100%;
  height: auto;
  border-radius: 5%;
  border: 2px black solid;
  background-color: green;
  cursor: pointer;
}
