.card-collection {
  float: left;
  width: 70%;
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px 20px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}
.your-deck {
  width: 30%;
  height: 100%;
  background-color: #3f4441;
  position: fixed;
  right: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "header header"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "footer footer";
  text-transform: capitalize;
}
.your-deck-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "header2";
  grid-area: header;
}

.your-deck-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 30px;
  grid-template-areas:
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . ";
  grid-area: card;
}

.card-icon {
  width: 100%;
  height: auto;
  border-radius: 5%;
  border: 2px black solid;
  background-color: #dacdbe;
}
.card-icon img {
  transition: 1s;
}

.your-deck-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ".";
  grid-area: footer;
}
.mana {
  float: left;

  border-bottom: 2px solid blue;
  border-right: 5px solid blue;
}
.attack {
  float: left;
  border-top: 2px solid red;
  border-right: 5px solid red;
}
.hp {
  float: right;
  border-top: 2px solid green;
  border-left: 5px solid green;
}
.stats {
  border-radius: 50%;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
}
.your-deck img {
  float: left;
  height: 50px;
  border-radius: 50%;
  background: #171515;
}
.add-card {
  float: right;
  height: 50px;
  opacity: 0.5;
}
.add-card-inActive {
  opacity: 0;
}
.add-card:hover {
  transform: scale(1.2);
  transition-timing-function: ease-out;
  opacity: 1;
  cursor: pointer;
}
.add-card-inActive:hover {
  opacity: 0;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #8365c1;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #8365c1 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.special-effect {
  padding: 7px;
  display: inline-block;
  border-top: 5px solid#8365c1;
  border-left: 5px solid #8365c1;
  border-right: 5px solid #8365c1;
  border-radius: 50%;
  padding: 12px;
  font-weight: bold;
}
@media screen and (max-width: 759px) {
  .your-deck-cards {
    gap: 5px 5px;
    font-size: 14px;
  }
  .your-deck-cards img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-template-areas: ". . ";
  }
  .attack,
  .hp,
  .mana,
  .special-effect {
    padding: 4px;
    font-size: 16px;
    margin: 0;
    border-width: 4px;
  }

  .your-deck img {
    height: 40px;
  }
  .your-deck-cards {
    gap: 0px 0% !important;
    font-size: 12px;
    letter-spacing: 0px;
  }
  .your-deck {
    display: block;
  }
  .add-card {
    height: 30px;
  }
  .your-deck-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr;
    gap: 1px 1px;
    grid-template-areas: ".";
    grid-area: footer;
  }
}

.change-player-button {
  color: #fddb3a;
  border: 3px solid #fddb3a;
}
.change-player-button:hover {
  background: #fddb3a;
  color: #000;
}
.save-button {
  color: #00ff7f;
  border: 3px solid #00ff7f;
}
.save-button:hover {
  background: #00ff7f;
  color: #000;
}
.delete-all-button {
  color: #ea5455;
  border: 3px solid #ea5455;
}
.delete-all-button:hover {
  background: #ea5455;
  color: #000;
}
.inActive-button {
  color: #fff;
  border: 3px solid #fff;
}
.inActive-button:hover {
  background: #fff;
  color: #000;
}
