.card-collection {
  float: left;
  width: 70%;
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px 20px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}
.your-deck {
  width: 30%;
  height: 100%;
  background-color: #72747a;
  position: fixed;
  right: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "header header"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
    "footer footer";
  text-transform: capitalize;
}
.your-deck-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "header2";
  grid-area: header;
}

.your-deck-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 30%;
  grid-template-areas:
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . "
    " . . ";
  grid-area: card;
}

.card-icon {
  width: 100%;
  height: auto;
  border-radius: 5%;
  border: 2px black solid;
  background-color: #dacdbe;
}
.card-icon img {
  transition: 1s;
}
.card-icon img:hover {
  transform: scale(1.4);

  transition-timing-function: ease-out;
}
.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". .";
}

.your-deck-footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ".";
  grid-area: footer;
}
.mana {
  float: left;

  border-bottom: 2px solid blue;
  border-right: 5px solid blue;
}
.attack {
  float: left;
  border-top: 2px solid red;
  border-right: 5px solid red;
}
.hp {
  float: right;
  border-top: 2px solid green;
  border-left: 5px solid green;
}
.stats {
  border-radius: 50%;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
}
.your-deck img {
  float: left;
  height: 30px;
  border: 1px solid #171515;
  border-radius: 50%;
  background: #171515;
}

@media screen and (max-width: 759px) {
  .your-deck-cards {
    gap: 5px 5px;
    font-size: 14px;
  }
  .card-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-template-areas: ". . ";
  }
  .attack,
  .hp,
  .mana {
    padding: 7px;
  }
  .your-deck img {
    height: 20px;
  }
  .your-deck-cards {
    gap: 0px 0% !important;
    font-size: 12px;
    letter-spacing: 0px;
  }
}
