.gameboard {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px 5px;
  background: #171515;
  grid-template-areas:
    "enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand"
    "enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info"
    "enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side"
    "your-side your-side your-side your-side your-side your-side your-side your-side your-side"
    "your-info your-info your-info your-info your-info your-info your-info your-info your-info"
    "your-hand your-hand your-hand your-hand your-hand your-hand your-hand your-hand your-hand";
  background-image: url("../board-images/pokeball2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.your-hand {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . . . . .";
  grid-area: your-hand;
  /* background-color: #fefefe; */
}

.your-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ".  .  .  .";
  grid-area: your-info;
  /* background-color: #fefefe; */
  /* background-color: #00aaff; */
}

.your-side {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . .";
  grid-area: your-side;
  /* background-color: #332c2b; */
}

.enemy-side {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . .";
  grid-area: enemy-side;
  /* background-color: #332c2b; */
}

.enemy-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . .";
  grid-area: enemy-info;
  /* background-color: #e62129; */
}

.enemy-hand {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  gap: 5px 5px;
  grid-template-areas: ". . . . . . . .";
  grid-area: enemy-hand;
  /* background-color: #e62129; */
}
.row {
  width: 100%;
  height: 100%;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photos img {
  width: 100%;
  max-height: 16vh;
}
.your-avatar,
.enemy-avatar {
  border: 5px solid #33363a;
}
.your-mana,
.enemy-mana {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  /* padding: 10px; */
  /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); */
  /* background: #4444ff; */
}

.progressBarImage {
  max-height: 8vh;
}
@media screen and (max-width: 759px) {
  .progressBarImage {
    max-height: 4vh;
  }
}
.enemy-hp,
.enemy-cards-number,
.your-hp,
.your-cards-number {
  display: grid;
}
.hand-card {
  display: grid;
}
.hand-card .stats {
  font-size: 16px;
}
.hand-card .card-icon {
  max-height: 16vh;
}
.hand-card .mana {
  border-bottom: 2px solid blue;
  border-right: 5px solid blue;
  margin-bottom: -12px;
}
.hand-card .attack {
  float: left;
  border-top: 2px solid red;
  border-right: 5px solid red;
  margin-top: -12px;
}
.hand-card .hp {
  float: right;
  border-top: 2px solid green;
  border-left: 5px solid green;
  margin-top: -12px;
}
.hand-card .stats {
  border-radius: 50%;
  padding: 3px;
  font-size: 20px;
  font-weight: bold;
}
.turn-button {
  position: relative;
  bottom: 55vh;
  left: 85vw;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}
.your-turn {
  background-color: green;
}
.enemy-turn {
  background-color: blue;
}
.border {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    background-image: linear-gradient(
      to right,
      rgb(182, 244, 146),
      rgb(51, 139, 147)
    );
    /* -webkit-transform: rotate(0deg); */
    /* border: solid 5px rgba(34, 126, 34, 1); */
  }
  to {
    /* border: solid 5px rgba(168, 251, 60, 1); */
    background: none;

    /* -webkit-transform: rotate(360deg); */
  }
}
/* .getDamage {
  animation: getDamage 1.5s linear;
}
@keyframes getDamage {
  from {
    transform: scale(1);
    color: red;
  }
  to {
    transform: scale(1.5);
  }
} */
