.gameboard {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: #171515;
  grid-template-areas:
    "enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand enemy-hand"
    "enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info enemy-info"
    "enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side enemy-side"
    "your-side your-side your-side your-side your-side your-side your-side your-side your-side"
    "your-info your-info your-info your-info your-info your-info your-info your-info your-info"
    "your-hand your-hand your-hand your-hand your-hand your-hand your-hand your-hand your-hand";
  background-image: url("../board-images/pokeball2.svg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.your-hand {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . . . .";
  grid-area: your-hand;
  column-gap: 1px;
  /* background-color: #fefefe; */
  height: 15vh;
}

.your-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".  .  .  .";
  grid-area: your-info;
  /* background-color: #fefefe; */
  /* background-color: #00aaff; */
  height: 20vh;
}

.your-side {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . .";
  grid-area: your-side;
  /* background-color: #332c2b; */
  height: 15vh;
  column-gap: 2vw;
}

.enemy-side {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . .";
  grid-area: enemy-side;
  column-gap: 20px;
  /* background-color: #332c2b; */
  height: 15vh;
  column-gap: 2vw;
}

.enemy-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . .";
  grid-area: enemy-info;
  /* background-color: #e62129; */
  height: 20vh;
}

.enemy-hand {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . . . .";
  grid-area: enemy-hand;
  /* background-color: #e62129; */
  height: 15vh;
  column-gap: 1px;
}

.row {
  width: 100%;
}
.turn-button {
  position: relative;
  width: 10vw;
  left: 88vw;
  bottom: 54.8vh;
}
.gameboard .save-button {
  background: #00ff7f;
  color: #33363a;
  border: 3px solid #33363a;
}
.gameboard .save-button:hover {
  background: transparent;
  color: #00ff7f;
  border: 3px solid #00ff7f;
}
.gameboard .delete-button {
  background: #ea5455;
  color: #33363a;
  border: 3px solid #33363a;
}
.gameboard .delete-button:hover {
  background: transparent;
  color: #ea5455;
  border: 3px solid #ea5455;
}
.border {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    background-image: linear-gradient(
      to right,
      rgb(182, 244, 146),
      rgb(51, 139, 147)
    );
  }
  to {
    background: none;
  }
}
.progressBarImage {
  max-height: 8vh;
}

.your-avatar,
.enemy-avatar {
  margin-top: 2.5vh;
  height: 15vh;
}
.photos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.enemy-hp,
.enemy-cards-number,
.your-hp,
.your-cards-number {
  display: grid;
}

.photos img {
  width: 100%;
  max-height: 15vh;
}
.your-avatar,
.enemy-avatar {
  border: 5px solid #33363a;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  background-color: #fff;
  height: 17vh;
}
.your-mana,
.enemy-mana {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
